
button{
    border-color: rgb(101,192,186);
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(101,192,186) inset, 0 0 0 0 rgb(101,192,186);
    transition: all 150ms ease-in-out;
    padding:1rem 3rem;
    margin-bottom: 20rem;
    font-size: 2rem; 
    margin-top: 2rem;
}