.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input{
    width: 50%;
    margin-bottom: 10px;
}
.add-service{
    margin-top: 10rem;
    margin-bottom: 10rem;
}